@{
    ViewBag.Title = "Reportes";
}

<h2>Generar Reporte de Catéteres</h2>

<form asp-action="GenerarReporte" method="post">
    <button type="submit" class="btn btn-primary">Generar PDF</button>
</form>
