@{
    ViewData["Title"] = "Supervisor Dashboard";
}

<div class="container mt-5">
    <h2 class="text-center text-primary mb-4">
        <i class="fas fa-user-shield"></i> Bienvenido, Supervisor
    </h2>

    <div class="row justify-content-center g-4">
        <div class="col-auto">
            <a asp-controller="Cateter" asp-action="Index" class="custom-card-btn orange">
                <i class="fas fa-syringe"></i>
                <span>Catéter</span>
            </a>
        </div>
        <div class="col-auto">
            <a asp-controller="Pruebas" asp-action="Index" class="custom-card-btn red">
                <i class="fas fa-vial"></i>
                <span>Pruebas</span>
            </a>
        </div>
      
        <div class="col-auto">
            <a asp-controller="Correcciones" asp-action="Index" class="custom-card-btn navy">
                <i class="fas fa-tools"></i>
                <span>Correcciones</span>
            </a>
        </div>
      
    </div>

    <div class="text-center mt-5">
        <p>Has ingresado con éxito al panel de Supervisor.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-home"></i> Ir al Inicio
        </a>
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">
            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </a>
    </div>
</div>
